/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Ketik code Anda dibawah */
header {
  height: 90px;
  background-color: #26d0c9;
  color: #fff;
}

.header-left {
  float: left;
  font-size: 36px;
  margin: 20px 40px;
}

.header-right li {
  float: left;
  margin: 33px 20px;
}

/* Main */

.main {
  margin: 100px 80px;
}

.main h1 {
  font-size: 140px;
  text-transform: uppercase;
}

.main h2 {
  font-size: 60px;
}

h1 span {
  color: #ff4a4a;
}

/* Contents */

.contents {
  height: 500px;
  margin: 100px 0;
}

.title {
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.content-items {
  float: left;
  margin-right: 40px;
}

.content-items p {
  margin-top: 30px;
  font-size: 24px;
}

/* Contents End */

/* Contact-form */

.contact-form {
  margin-bottom: 100px;
}

.contact-form input,
.contact-form textarea {
  width: 400px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  border: 1px solid #dee7ec;
  font-size: 18px;
}

.btn-submit {
  background-color: #dee7ec;
  color: #889eab;
  
}

/* Contact-form End */

/* Main End */


/* Footer */
footer {
  background-color: #2f5167;
  color: #fff;
  padding: 40px;
  height: 120px;
}

.logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
  font-size: 20px;
}

.footer-list li {
  margin-bottom: 20px;
}


